@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-terminal-black text-terminal-green;
  }
}

.scanline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(115, 220, 165, 0.1);
  opacity: 0.4;
  animation: scan 2s linear infinite;
  pointer-events: none;
  z-index: 50;
}

@keyframes scan {
  0% { top: -5px; }
  100% { top: 100%; }
}

canvas {
  outline: none;
}
